@using Domain.Entities
@model User
@{
    ViewData["Title"] = "Login And Signup";
    Layout = "~/Views/Shared/_LoginSignupLayout.cshtml";

}
@* 
    <form asp-action="Create" asp-controller="User" method="post">

	@if (!string.IsNullOrEmpty(errors))
	{
		<div class="alert alert-danger">@errors</div>
	}


	<label>Ad Soyad</label>
	<input asp-for="FullName" type="text" />

	<label>Kullanıcı Adı</label>
	<input asp-for="UserName" type="text" />

	<label>E-posta</label>
	<input asp-for="Email" type="email" />

	<label>Şifre</label>
	<input asp-for="PasswordHash" type="password" />

	<button type="submit">Gönder</button>

</form>
 *@
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-2 mx-2">
                        <div class="mb-3 text-center">
                            <h3 class="text-primary">
                                <i class="fa fa-sign-in-alt me-2"></i>SecurityWatch
                            </h3>
                            <h5>Sign In</h5>
                        </div>
                        <form asp-action="Create" asp-controller="User" method="post">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control" placeholder="name@example.com" />
                                <label>Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="PasswordHash" type="text" class="form-control" placeholder="name@example.com" />
                                <label>PasswordHash</label>
                            </div>


                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <a href="">Forgot Password?</a>
                            </div>
                            <button type="submit" class="btn btn-outline-primary py-3 w-100">Sign In</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-2 mx-2">
                        <div class="mb-3 text-center">
                            <h3 class="text-primary">
                                <i class="fa fa-user-plus me-2"></i>SecurityWatch
                            </h3>
                            <h5>Create Account</h5>
                        </div>
                                                
                        <form asp-action="SignIn" asp-controller="Landing" method="post">

                            <div class="form-floating mb-3">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="nickname" />
                                <label>Nick</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="FullName" type="text" class="form-control" placeholder="Murtaza Balamir" />
                                <label>Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control" placeholder="name@example.com" />
                                <label>Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="PasswordHash" type="text" class="form-control" placeholder="name@example.com" />
                                <label>PasswordHash</label>
                            </div>
                            
                            <button type="submit" class="btn btn-outline-primary py-3 w-100">Sign Up</button>
                        </form>
                        <p class="text-center mt-3 mb-0 small text-muted">By signing up, you agree to our terms.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>