@using Domain.Entities
@model User
@{
	ViewData["Title"] = "Create";

	var errors = (string?)ViewBag.Errors;
}

<h1>Kullanıcı Ekle</h1>

<form asp-action="Create" asp-controller="User" method="post">

	@if (!string.IsNullOrEmpty(errors))
	{
		<div class="alert alert-danger">@errors</div>
	}


	<label>Ad Soyad</label>
	<input asp-for="FullName" type="text" />

	<label>Kullanıcı Adı</label>
	<input asp-for="UserName" type="text" />

	<label>E-posta</label>
	<input asp-for="Email" type="email" />

	<label>Şifre</label>
	<input asp-for="PasswordHash" type="password" />

	<button type="submit">Gönder</button>

</form>

