@using Application.Common.Models
@using Domain.Entities
@model User
@{
	ViewData["Title"] = "Update";

	var userList = ((Response<List<User>>)ViewBag.UserList)._Data;

	var errors = (string?)ViewBag.Errors;
}
<h1>Kullanıcı Editle</h1>

@if (!string.IsNullOrEmpty(errors))
{
	<div class="alert alert-danger">@errors</div>
}

<table>
	@if(userList==null)return;
	@foreach (var item in userList)
	{
		<form asp-action="Update" asp-controller="User" method="post">
			<tr>
				<td><input asp-for="FullName" type="text" value=@item.FullName /></td>
				<td><input asp-for="UserName" type="text" value=@item.UserName /></td>
				<td><input asp-for="Email" type="text" value=@item.Email /></td>
			
				<td>
					<button type="submit" class="btn btn-danger">Gönder</button>
				</td>
			</tr>
		</form>
	}
</table>
